.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container.padding {
  padding-left: var(--mb-1-5);
  padding-right: var(--mb-1-5);
}

.sm {
  max-width: 640px;
}

.md {
  max-width: 768px;
}

.lg {
  max-width: 968px;
}

.xl {
  max-width: 1200px;
}

.full {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .container.padding {
    padding-left: var(--mb-1);
    padding-right: var(--mb-1);
  }
}
